@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@import '../lib/windweave-ui.css';

:root {
	--page-width: 1400px;
    --corner-radius: 1rem;
    --theme-hue: 120;
    --accent-hue: 65
}
